{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "plugins": ["@typescript-eslint"],
  "extends": ["prettier", "airbnb", "airbnb/hooks", "eslint-config-prettier", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "rules": {
    "no-console": 0,
    // 'import/extensions': ['error', 'ignorePackages', { js: 'never', jsx: 'never', ts: 'never', tsx: 'never', json: 'never' }],
    "import/no-unresolved": 0,
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      // or "error"
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "lines-between-class-members": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".ts", ".tsx", ".js", ".jsx"]
      }
    ],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    // 'react/destructuring-assignment': [true, { 'extensions': ['.jsx', '.tsx'] }],
    "import/prefer-default-export": "off",
    "import/extensions": ["off"],
    "import/order": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "no-use-before-define": "off",
    "no-shadow": "off",
    "import/no-extraneous-dependencies": "off",
    "react/destructuring-assignment": "off",
    "comma-dangle": ["off", "always-multiline"],
    "prettier/prettier": [
      "off",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
