.tokens {
  background-color: #fff;

  .tokens-inner {
    @include maxWidthLg;

    margin: 0 auto;
  }

  // 섹션 상하 간격
  .tokens-inner:first-child + .market-price-wrap {
    margin-top: 64px;

    @include sm {
      margin-top: 37px;
    }
  }

  // total cap/value
  .total-cap-value {
    padding-top: 90px;

    @include md {
      padding-top: 50px;
    }

    @include sm {
      padding-top: 40px;
    }
  }

  .tokens-header-text {
    display: block;

    @include fontFamilyDp(l);
  }

  .tokens-overview {
    display: flex;
    min-height: 250px;
    justify-content: space-between;
    margin-top: 60px;

    @include sm {
      flex-direction: column;
      margin-top: 32px;
    }

    .left {
      .info-wrap {
        display: flex;
        flex-direction: column;
        margin-top: 60px;

        @include sm {
          margin-top: 24px;
        }

        .info-name {
          @include fontFamilyData(cl);
        }

        .figure {
          margin-top: 8px;

          @include fontFamilyData(m1b);
        }

        .date {
          @include fontFamilyBody(cs);

          margin-top: 16px;
          color: $gray60;
        }
      }
    }

    .right {
      width: calc(100% - 356px);
      height: 250px;
      min-height: 250px;
      flex-grow: 1;
      margin-left: 100px;

      @include md {
        margin-left: 40px;
      }

      @include sm {
        width: 100%;
        height: auto;
        min-height: 197px;
        margin-top: 40px;
        margin-left: 0;
      }

      .chart-overview {
        display: none;
      }
    }
  }

  // wemix market price
  .market-price-wrap {
    width: 100%;
    height: 120px;
    background-color: $gray00;

    @include md {
      height: auto;
    }

    @include sm {
      height: auto;
    }

    .market-price-inner {
      display: flex;
      max-width: 1200px;
      padding: 27px 0;
      margin: 0 auto;

      @include md {
        flex-direction: column;
        padding: 0 40px;
        margin: 0;
      }

      @include sm {
        flex-direction: column;
        padding: 0;
      }

      .token-info-box {
        display: flex;
        flex-basis: 50%;
        align-items: center;

        @include md {
          align-items: center;
          padding: 28px 0 26px;
        }

        @include sm {
          align-items: flex-start;
          padding: 24px 20px 17px;

          &:first-child {
            border-bottom: 1px solid $gray10;
          }
        }

        svg {
          flex-shrink: 0;
          margin-right: 24px;

          @include sm {
            margin-right: 20px;
          }
        }

        .text-box {
          margin-right: 56px;

          @include md {
            flex-basis: calc(50% - 64px);
            margin-right: 18px;
          }

          @include sm {
            margin-right: 9px;
          }

          .coin-name {
            @include fontFamilyData(cl);

            color: $gray60;
          }

          .row {
            display: flex;
            align-items: center;
            margin-top: 8px;

            @include sm {
              flex-direction: column;
              align-items: flex-start;
            }

            .figure {
              @include fontFamilyData(m1b);

              color: $gray100;

              @include sm {
                @include fontFamilyData(sb);

                min-width: 90px;
              }
            }

            .ant-tag {
              margin-left: 8px;

              &.increase {
                background: $increaseBgDark;
                color: $positive;
              }

              &.decrease {
                background: $decreaseBgDark;
                color: $negative;
              }

              @include sm {
                margin-top: 8px;
                margin-left: 0;
              }
            }
          }
        }

        .chart-area {
          width: 160px;
          height: 66px;

          @include md {
            width: 173px;
            flex-basis: 50%;
            justify-items: flex-end;
          }

          @include sm {
            // width: auto;
            // flex-grow: 1;
            // flex-shrink: 1;
            flex: 1;
          }

          .chart-overview {
            margin-top: 0;

            @include md {
              justify-content: flex-end;
            }

            @include sm {
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }

  .tokens-title {
    @include fontFamilyDp(mb);
  }

  .sort-area {
    margin-top: 24px;

    @include md {
      margin-top: 20px;
    }

    @include sm {
      margin-top: 16px;
    }

    button {
      & + button {
        margin-left: 8px;
      }
    }
  }

  // token table
  .tokens-table-wrap {
    @include maxWidthLg;

    margin: 60px auto 0;

    @include sm {
      margin-top: 40px;
    }

    // remove shadow
    .ant-table-container {
      &::before,
      &::after {
        content: none;
      }

      .ant-table-content {
        @include sm {
          padding-left: 0;
          margin-left: 20px;
        }
      }
    }

    // .index-column {

    // }

    // .name-column {
    //   @include sm {
    //     min-width: 200px;
    //   }
    // }

    // .normal-column {
    //   min-width: 105.4px;
    // }

    .ant-table-wrapper .ant-table-container table > thead th {
      background: $white;

      &:nth-child(2) {
        text-align: left !important;
      }

      &:nth-child(2) ~ th {
        text-align: right !important;
      }
    }

    .tokens-table {
      margin-top: 24px;

      @include sm {
        margin-top: 16px;
      }

      table {
        @include sm {
          // min-width: 688px !important;
        }
      }

      colgroup {
        col {
          &:first-child {
            @include sm {
              // display: none;
            }
          }
        }
      }

      // .ant-table-column-sorter,
      // .ant-table-column-sorterown {
      //   display: none;
      // }

      th[aria-sort="ascending"] {
        &:hover {
          .ant-table-column-sorter-inner {
            opacity: 0.5;
          }
        }

        // .ant-table-column-sorter {
        //   display: block;
        // }

        // .ant-table-column-sorter-inner {
        //   display: inline-block;

        //   // background: url("#{$rootPath}/icon/ico_sort.png") no-repeat 0 0;
        //   background: url("#{$publicPath}/ico_sort.svg") no-repeat center center / cover;
        //   opacity: 1;
        // }
      }

      th[aria-sort="descending"] {
        &:hover {
          .ant-table-column-sorter-inner {
            opacity: 0.5;
          }
        }

        // .ant-table-column-sorter {
        //   display: block;
        // }

        // .ant-table-column-sorter-inner {
        //   display: inline-block;
        //   background: url("#{$publicPath}/ico_sort.svg") no-repeat center center / cover;
        //   opacity: 1;
        //   transform: rotate(180deg);
        // }
      }

      tbody .ant-table-cell {
        @include fontFamilyTable(blr);

        height: 64px;
        background: $white;
        cursor: pointer;

        @include sm {
          @include fontFamilyTable(br);
        }

        &.swap-column {
          cursor: default;
        }

        .increase {
          color: $increase;
        }

        .decrease {
          color: $decrease;
        }
      }

      .token-table-list-item {
        display: flex;
        align-items: center;

        svg {
          flex-shrink: 0;
        }

        .coin-name {
          @include fontFamilyTable(blb);

          margin-left: 8px;
          white-space: nowrap;

          @include sm {
            @include fontFamilyTable(bb);
          }
        }
      }

      .table-chart {
        width: 72px;
        margin-left: auto;
      }
    }
  }

  // exchange
  .exchange-wrap {
    margin-top: 80px;
    background-color: $gray10;

    @include sm {
      margin-top: 60px;
    }

    .exchange-inner {
      @include maxWidthLg;

      padding: 60px 0;
      margin: 0 auto;

      @include sm {
        padding: 40px 20px;
      }

      .tokens-title {
        color: $gray100;
      }

      .desc {
        @include fontFamilyBody(mr);

        margin-top: 8px;
        color: $gray60;
      }

      .exchange-list {
        display: flex;

        // height: 100px;
        max-height: 100px;
        flex-wrap: wrap;
        margin-top: 20px;
        overflow-y: hidden;
        transition: 0.5s max-height;
        will-change: max-height;

        @include md {
          max-height: 84px;
        }

        @include sm {
          // height: 179px;
          max-height: 179px;
          justify-content: space-between;
          margin-top: 24px;
        }

        &.active {
          // height: auto;
          max-height: 700px !important;
        }

        li {
          // flex-grow: 1;
          border-radius: 2px;
          margin-right: 15px;
          background-color: $gray20;

          @include lg {
            &:nth-child(6n) {
              margin-right: 0;
            }

            &:not(:nth-child(n+1):nth-child(-n+6)) {
              margin-top: 16px;
            }
          }

          @include md {
            flex-basis: calc(25% - 18px);
            margin-right: 20px;

            &:nth-child(4n) {
              margin-right: 0;
            }

            &:not(:nth-child(n+1):nth-child(-n+4)) {
              margin-top: 16px;
            }
          }

          @include sm {
            flex-basis: calc(50% - 8px);
            margin-right: 0;

            &:not(:nth-child(n+1):nth-child(-n+2)) {
              margin-top: 8px;
            }
          }

          a {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: 9px 0;

            @include md {
              padding: 7px 0 7.5px;
            }

            @include sm {
              padding: 8px 0 9px;
            }

            svg {
              width: 184px;

              @include md {
                width: 155px;
                height: 67px;
              }

              @include sm {
                width: 153px;
                height: 66px;
              }
            }
          }
        }
      }

      .more-btn-wrap {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        @include md {
          margin-top: 34px;
        }

        @include sm {
          margin-top: 24px;
        }

        button span {
          color: $gray100;
        }

        svg path {
          fill: $gray100;
        }

        &.active {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  // detail page
  // header
  .detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

    @include sm {
      align-items: flex-end;
      margin-top: 32px;
    }

    .basic-info {
      @include fontFamilyHeading(l);

      display: flex;
      align-items: center;

      @include sm {
        flex-direction: column;
        align-items: flex-start;
      }

      > svg {
        margin-right: 8px;

        @include sm {
          margin-right: 0;
          margin-bottom: 12px;
        }
      }

      button {
        margin-left: 8px;

        &.unselected svg path {
          fill: $gray80;
        }

        @include sm {
          display: none;
        }
      }
    }

    .btn-area {
      display: flex;
      align-items: center;

      @include sm {
        display: none;
      }

      a {
        @include fontFamilyButton(sr);

        display: flex;
        align-items: center;

        & + a {
          margin-left: 24px;
        }

        > svg {
          margin-left: 4px;
        }
      }
    }

    .mobile-btn-wrap {
      @include lg {
        display: none;
      }

      @include md {
        display: none;
      }

      @include sm {
        position: relative;
        display: flex;
        align-items: center;
      }

      .star {
        &.unselected svg path {
          fill: $gray80;
        }
      }

      .more-btn {
        display: flex;
        width: 24px;
        height: 24px;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
      }
    }
  }

  // body
  .detail-body {
    display: flex;
    align-items: flex-start;
    padding-bottom: 80px;
    margin-top: 40px;

    @include sm {
      flex-direction: column;
      align-items: stretch;
      padding-bottom: 60px;
      margin-top: 20px;
    }
  }

  // fluctuation box
  .fluc-info-box {
    width: 264px;
    box-sizing: content-box;
    flex-shrink: 0;
    border: 1px solid $gray80;

    @include md {
      width: 260px;
    }

    @include sm {
      width: 100%;
    }

    > div {
      padding: 20px;

      @include md {
        &:first-child {
          padding: 24px 20px;
        }
      }

      @include sm {
        &:nth-child(2) {
          padding: 24px 20px;
        }
      }
    }

    .top {
      border-bottom: 1px solid $gray80;

      @include sm {
        display: flex;
        align-items: center;
      }

      .figure {
        @include fontFamilyData(m2);

        display: block;
        margin-bottom: 8px;

        @include md {
          margin-bottom: 12px;
        }

        @include sm {
          margin-right: 8px;
          margin-bottom: 0;
        }
      }
    }

    .bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .item {
        min-width: 100px;

        @include lg {
          &:nth-child(n+2) ~ * {
            margin-top: 24px;
          }
        }

        @include md {
          flex-basis: 90px;

          &:nth-child(n+2) ~ * {
            margin-top: 20px;
          }
        }

        @include sm {
          flex-basis: 45%;

          &:nth-child(n+2) ~ * {
            margin-top: 20px;
          }
        }

        .info-name {
          @include fontFamilyData(cs);

          color: $gray60;
        }

        .figure {
          @include fontFamilyData(sb);

          display: block;
          margin-top: 12px;
        }

        .ant-tag {
          margin-top: 12px;
        }
      }
    }
  }

  // chart and info area
  .body-right {
    min-width: 0;
    flex-grow: 1;
    flex-shrink: 1;

    @include lg {
      margin-left: 48px;
    }

    @include md {
      margin-left: 40px;
    }

    @include sm {
      margin-top: 40px;
    }

    .chart-area {
      min-height: 369px;

      @include sm {
        min-height: 345px;
      }

      .chart-overview {
        padding-left: 20px;

        @include sm {
          position: relative;
          padding-left: 0;
        }

        .period {
          @include sm {
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }
      }

      .chart-wrap {
        padding-left: 20px;
        margin-top: 32px;

        @include sm {
          padding-left: 0;
          margin-top: 34px;
        }

        & > div {
          width: 100%;
          height: 213px;

          @include sm {
            height: 201px;
          }
        }
      }
    }
  }

  // token info
  .token-info-wrap {
    margin-top: 60px;

    @include sm {
      margin-top: 40px;
    }

    .info-title {
      @include fontFamilyHeading(l);

      display: block;
    }

    .info-contents {
      @include fontFamilyBody(mr);

      margin-top: 20px;
      color: $gray30;
    }

    .btn-wrap {
      display: flex;
      align-items: center;
      margin-top: 42px;

      @include md {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 40px;
      }

      @include sm {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 24px;
      }

      .token-sns {
        display: flex;
        align-items: center;

        @include lg {
          margin-left: 16px;
        }

        @include md {
          margin-top: 24px;
        }

        @include sm {
          margin-top: 20px;
        }

        li {
          & + li {
            margin-left: 8px;

            @include sm {
              margin-left: 4px;
            }
          }

          a {
            display: flex;
            width: 32px;
            height: 32px;
            align-items: center;
            justify-content: center;

            // opacity: 1;
            // transition: opacity 0.2s;

            svg {
              font-size: 32px;
            }

            svg path {
              fill: $gray60;
            }

            @include md {
              width: 40px;
              height: 40px;

              svg {
                font-size: 40px;
              }
            }

            &:hover {
              opacity: 1;
            }

            @each $item in twitter, medium, telegram, facebook, youtube {
              &.#{$item} {
                background: url("#{$publicPath}/ico_#{$item}.svg") no-repeat center / contain;
              }
            }
          }
        }
      }
    }
  }
}

// stack chart
.stack-chart-wrap {
  width: 100%;
  height: 250px;

  @include sm {
    height: 197px;
  }

  > div > div:nth-child(2) > div {
    // min-width: 0 !important;
    // min-height: 0 !important;
    // opacity: 0 !important;
    overflow: initial !important;

    // 오픈 전
    // .stack-tooltip {
    //   display: flex;
    //   width: 79px;
    //   align-items: center;
    //   justify-content: space-between;

    //   .name {
    //     @include fontFamilyData(cs);

    //     display: inline-flex;
    //     align-items: center;
    //     margin-right: 8px;
    //     color: $gray100;

    //     &::before {
    //       display: block;
    //       width: 4px;
    //       height: 4px;
    //       margin-right: 3px;
    //       background-color: $category1;
    //       border-radius: 50%;
    //       content: "";
    //     }
    //   }

    //   .figure {
    //     @include fontFamilyData(cs);

    //     color: $gray100;
    //   }
    // }

    // 오픈 후
    .stack-tooltip {
      overflow: hidden;
      border-radius: 2px;
      background: $gray20;

      dl {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & + dl {
          margin-top: 6px;
        }

        & ~ dl {
          margin-top: 4px;
        }

        &.category {
          dt {
            @include ellipsis(1);
          }
        }
      }

      dt {
        position: relative;
        display: flex;
        width: 44px;
        align-items: center;
        padding-left: 8px;
        color: $gray100;

        @include fontFamilyBody(sr);

        span {
          position: absolute;
          top: 50%;
          left: 0;
          display: block;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          margin-top: -2px;
        }
      }

      dd {
        min-width: 52px;
        margin-left: 4px;
        color: $gray100;
        text-align: right;

        @include fontFamilyBody(sb);
      }
    }
  }
}

.bar-chart-wrap {
  position: relative;
  width: 100%;
  height: 250px;

  @include sm {
    height: 197px;
  }

  &::after {
    position: absolute;
    top: 10px;
    left: 51px;
    width: 1px;
    height: calc(100% - 50px);
    background-color: $gray80;
    content: "";
  }

  &::before {
    position: absolute;
    bottom: 40px;
    left: 52px;
    width: calc(100% - 55px);
    height: 1px;
    background-color: $gray80;
    content: "";
  }
}

.top-movers-wrap {
  @include maxWidthLg;

  margin-top: 53px;

  @include md {
    margin-top: 60px;
  }

  @include sm {
    margin-top: 40px;
  }

  .top-movers-list {
    display: flex;
    margin-top: 24px;

    @include md {
      margin-top: 20px;
    }

    @include sm {
      margin-top: 16px;
    }

    & > li {
      width: calc((100% - 48px) / 4);
      padding: 16px 24px;
      border: 1px solid $gray80;
      border-radius: 2px;

      .token-name {
        @include fontFamilyBody(lb);
      }

      .price {
        color: $gray30;

        @include fontFamilyData(sr);
      }

      .movers-info-txt-wrap {
        & > * {
          & + * {
            margin-top: 8px;

            @include md {
              margin-top: 12px;
            }
          }
        }

        @include md {
          margin-top: 12px;
        }
      }

      & + li {
        margin-left: 16px;

        @include md {
          margin-left: 8px;
        }

        @include sm {
          margin-top: 8px;
          margin-left: 0;
        }
      }

      @include lg {
        display: flex;
        align-items: center;

        .movers-info-txt-wrap {
          margin-left: 16px;
        }
      }

      @include md {
        padding: 24px 20px;
      }

      @include sm {
        display: flex;
        width: 100%;
        align-items: center;

        .movers-info-txt-wrap {
          margin-left: 16px;
        }
      }
    }

    @include sm {
      display: block;
    }
  }
}
