.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: transparent;

  & > * {
    pointer-events: none;
  }
}

.btn-full {
  width: 100%;
  min-width: none;
  max-width: auto;
}

// Btn Size
@mixin btnRes($padding: 20px, $minWidth: 160px, $height: 44px, $gap: 8px) {
  min-width: $minWidth;
  height: $height;
  padding: 0 $padding;

  .btn-inner {
    svg + span {
      margin-left: $gap;
    }

    div + span {
      margin-left: $gap;
    }

    span + svg {
      margin-left: $gap;
    }

    span + div {
      svg {
        margin-left: $gap;
      }
    }
  }
}

.btn-xl {
  @include btnRes;
  @include fontFamilyButton(lr);

  @include lg {
    @include btnRes($height: 52px);
  }

  @include md {
    @include btnRes($height: 52px);
  }

  @include sm {
    @include btnRes($height: 44px);
  }
}

.btn-lg {
  @include btnRes;
  @include fontFamilyButton(lr);

  @include sm {
    @include btnRes($height: 44px);
  }
}

.btn-lg-f {
  @include btnRes;
  @include fontFamilyButton(mr);

  @include lg {
    @include btnRes($height: 52px);
  }

  @include md {
    @include btnRes($height: 52px);
  }

  @include sm {
    @include btnRes($height: 44px);

    min-width: 120px;
  }
}

.btn-md {
  @include btnRes($minWidth: 120px, $height: 38px);
  @include fontFamilyButton(mr);

  border-radius: 2px;

  @include md {
    @include btnRes($minWidth: 120px, $height: 40px);
  }

  @include sm {
    @include btnRes($minWidth: 120px, $height: 36px);
  }
}

.btn-sm {
  @include fontFamilyButton(sr);
  @include btnRes($padding: 16px, $minWidth: auto, $height: 28px, $gap: 4px);

  border-radius: 2px;

  @include md {
    @include btnRes($padding: 16px, $minWidth: auto, $height: 32px, $gap: 4px);
  }

  @include sm {
    @include btnRes($padding: 16px, $minWidth: auto, $height: 28px, $gap: 4px);
  }
}

.btn-xs {
  @include fontFamilyButton(sr);
  @include btnRes($padding: 8px, $minWidth: auto, $height: 22px, $gap: 4px);

  border-radius: 2px;

  @include md {
    @include btnRes($padding: 8px, $minWidth: auto, $height: 24px, $gap: 4px);
  }

  @include sm {
    @include btnRes($padding: 16px, $minWidth: auto, $height: 22px, $gap: 4px);
  }
}

.btn-outline {
  border: 1px solid;

  &.outline-black {
    border-color: $black;
    outline: none;

    &:hover {
      background-color: $gray90;
    }

    &:disabled,
    &.ant-btn-disabled {
      border-color: $gray60;
      background-color: transparent;

      span {
        color: $gray60;
      }
    }
  }

  &.outline-gray {
    border-color: $gray80;

    &:hover {
      background-color: $gray90;
    }

    &:disabled {
      border-color: $gray60;
      background-color: transparent;

      span {
        color: $gray60;
      }
    }
  }

  &.outline-light-gray {
    border-color: $gray60;

    &:hover {
      background-color: $gray90;
    }

    &:disabled {
      border-color: $gray60;
      background-color: transparent;

      span {
        color: $gray60;
      }
    }
  }

  &.outline-white {
    border-color: $white;
    background-color: transparent;

    span {
      color: $white;
    }

    &:hover {
      background-color: rgba($gray100, 0.2);
    }

    &:disabled {
      border-color: $gray60;
      background-color: transparent;

      span {
        color: $gray60;
      }
    }
  }
}

.btn-bg {
  border: 1px solid transparent;

  &.bg-black {
    border-color: $black;
    background-color: $black;

    svg {
      path {
        fill: $white;
      }
    }

    span {
      color: $white;
    }

    &:hover {
      background-color: $gray20;
    }

    &:disabled {
      border-color: $gray30;
      background-color: $gray30;

      span {
        color: $gray50;
      }
    }
  }

  &.bg-white {
    background-color: $white;

    &:hover {
      border-color: transparent;
      background-color: $gray80;
    }

    &:disabled {
      background-color: $gray80;

      span {
        color: $gray60;
      }
    }
  }

  &.bg-highlight {
    @include themeChangeMixin(background-color, 1);

    span {
      color: $white;
    }

    &:hover {
      // background-color: $gray80;
    }

    &:disabled {
      background-color: $gray80;

      span {
        color: $gray60;
      }
    }
  }
}

.btn-icon {
  $btnSizes: 40, 32, 24, 16, 12;

  border: 0;

  @each $btnSize in $btnSizes {
    &.btn-#{$btnSize} {
      width: $btnSize + px;
      height: $btnSize + px;

      @include md {
        width: ($btnSize + 8) + px;
        height: ($btnSize + 8) + px;
      }

      svg {
        width: calc(#{$btnSize}px - 8px);
        height: calc(#{$btnSize}px - 8px);

        @include md {
          width: ($btnSize) + px;
          height: ($btnSize) + px;
        }
      }
    }
  }

  &.view-switch {
    > div {
      width: 100%;
    }

    &.active {
      path {
        fill: $black;
      }

      rect {
        fill: $black;
      }
    }
  }

  &.btn-circle {
    overflow: hidden;
    border-radius: 100%;
  }
}

.btn-text {
  display: inline-flex;
  height: auto;
  align-items: center;
  border: none;

  &:hover {
    span {
      text-decoration: underline;
    }
  }

  &.btn-spacing {
    &-lg {
      span + svg {
        margin-left: 8px;
      }

      span + div {
        svg {
          margin-left: 8px;
        }
      }

      svg + span {
        margin-left: 8px;
      }

      div + span {
        margin-left: 8px;
      }
    }

    &-md {
      span + svg {
        margin-left: 4px;
      }

      span + div {
        svg {
          margin-left: 4px;
        }
      }

      svg + span {
        margin-left: 4px;
      }

      div + span {
        margin-left: 4px;
      }
    }

    &-sm {
      span + svg {
        margin-left: 2px;
      }

      span + div {
        svg {
          margin-left: 2px;
        }
      }

      svg + span {
        margin-left: 2px;
      }

      div + span {
        margin-left: 2px;
      }
    }
  }

  &.btn-icon {
    &-line-arrow {
      &.md {
        @include fontFamilyButton(mb);

        svg {
          width: 24px;
          height: 24px;

          @include md {
            width: 32px;
            height: 32px;
          }
        }
      }
    }

    &-arrow {
      &.lg {
        @include fontFamilyButton(lr);

        svg {
          width: 16px;
          height: 16px;
        }
      }

      &.md {
        @include fontFamilyButton(mr);

        svg {
          width: 12px;
          height: 12px;
        }
      }

      &.sm {
        @include fontFamilyButton(sr);

        svg {
          width: 12px;
          height: 12px;
        }
      }

      svg {
        margin-top: 2px;
        transform: rotate(270deg);

        path {
          fill: $gray00;
        }
      }
    }

    &-scroll {
      &.sm {
        @include fontFamilyButton(sb);
      }
    }

    &-link {
      @include fontFamilyBody(u);

      text-underline-offset: 3px;

      svg {
        @include md {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  &.arrow-dir {
    &-top {
      svg {
        transform: rotate(180deg);
      }
    }

    &-right {
      svg {
        transform: rotate(-90deg);
      }
    }

    &-left {
      svg {
        transform: rotate(90deg);
      }
    }

    &-bottom {
      svg {
        transform: rotate(0);
      }
    }
  }
}

// button 개별 css
.btn-header {
  border-radius: 50%;
  transition: background-color 0.3s;

  &:hover {
    @include lg {
      background-color: $gray80;
    }
  }

  &:focus {
    border: 1px solid $gray00;
  }
}

.btn-user-open {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: none;

  &.inner-name {
    flex-wrap: wrap;

    & > span {
      display: block;
      width: 100%;

      & + span {
        margin-top: 2px;
      }
    }

    @at-root .table-type-lg & {
      width: 100%;
      flex-wrap: nowrap;
      justify-content: flex-start;

      & > span {
        width: auto;

        & + span {
          margin-top: 0;
          margin-left: 4px;
        }
      }
    }
  }
}

.user-image {
  display: block;
  border: 1px solid $gray90;
  border-radius: 50%;
  background-image: url("#{$publicPath}/ico_avatar.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @for $i from 1 to 30 {
    &.type#{$i} {
      background-image: url("#{$publicPath}/ico_avatar#{$i}.svg");
    }
  }

  &.son {
    background-image: url("#{$publicPath}/ico_avatar1.svg");
  }

  &.lus {
    background-image: url("#{$publicPath}/ico_avatar2.svg");
  }

  &.tangled {
    background-image: url("#{$publicPath}/ico_avatar3.svg");
  }

  &.metamask {
    background-color: $gray100;
    background-image: url("#{$publicImgPath}/img_metamask.png");
    background-size: 28px auto;
  }

  &.wemix-wallet {
    background-color: $gray100;
    background-image: url("#{$publicPath}/ico_wemixwallet.svg");
    background-size: 32px auto;
  }
}

.btn-like {
  display: flex;
  height: auto;
  align-items: center;
  border: none;

  svg {
    width: 24px;
    height: 24px;

    @include md {
      width: 32px;
      height: 32px;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .ico_heart_svg__heart-inner {
    transition: fill 0.3s;
  }

  &.active {
    /* stylelint-disable-next-line selector-class-pattern */
    .ico_heart_svg__heart-inner {
      fill: $black;
    }
  }

  .like-count {
    margin-left: 4px;

    @include fontFamilyData(cs);
  }
}

// 공유하기 버튼
.share-wrap {
  .btn-share {
    svg {
      width: 24px;
      height: 24px;

      @include md {
        width: 32px;
        height: 32px;
      }

      @include sm {
        width: 24px;
        height: 24px;
      }

      path {
        transition: fill 0.3s;
      }
    }

    &.ant-dropdown-open {
      svg {
        path {
          fill: $highlight;
        }
      }
    }
  }

  .share-list {
    width: 156px;
    padding: 8px 0;
    border: 1px solid $black;
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0 5px 20px rgb(0 0 0 / 20%);

    li {
      @include fontFamilyUi(tabmr);

      padding: 12px;

      @include sm {
        padding: 10px 12px;
      }
    }

    button {
      @include fontFamilyUi(tabmr);

      display: block;
      width: 100%;
      text-align: left;
    }
  }
}

// 카운트다운 버튼
.btn-count {
  .rotate {
    display: flex;
    align-items: center;
    animation-duration: 1s;
    animation-name: rotate;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

// START: Unfolding Soon 버튼 11/11 오픈용
// 툴팁형
.ant-popover-disabled-compatible-wrapper {
  display: inline-flex !important;
  align-items: center;
  outline: none;

  &.btn-bg {
    border-color: $gray30;
    background-color: $gray30;

    &:hover {
      border-color: $gray30;
      background-color: $gray30;
    }

    .ant-btn {
      border-color: $gray30;
      background-color: $gray30;
    }
  }

  &.btn-outline.outline-black {
    border-color: $gray60;

    .ant-btn {
      color: $gray60;
    }

    &:hover {
      background-color: $white;
    }
  }

  .ant-btn {
    font-size: inherit;

    &:hover {
      background-color: $gray30;
    }

    span {
      color: $gray50;
    }
  }
}

// 토스트 팝업형
.ant-btn-primary {
  &.btn-bg {
    border-color: $gray80;
    background-color: $gray80;

    &:hover {
      background-color: $gray80;
    }

    span {
      color: $gray60;
    }
  }

  &.btn-outline {
    border-color: $gray60;

    &:hover {
      background-color: transparent;
    }

    span {
      color: $gray60;
    }
  }
}

// END: Unfolding Soon 버튼 11/11 오픈용
