// Font Family
$fontFamily: "Noto Sans KR", sans-serif;
$fontSerifEN: "Times New Roman", "Judson", serif;
$fontEN: "Roboto", sans-serif;
$fontKR: "Noto Sans KR", sans-serif;
$fontSerifKR: $fontKR;

// Font Size
$baseSize: 16px;

// breakpoint
$breakpointSM: 768px;
$breakpointMD: 1280px;
$maxWidthLg: 1200px;
$vh: var(--vh, 1vh);
$scroll: var(--scroll);

// image root path
$rootPath: "https://nile.blob.core.windows.net/images/assets/images";
$publicPath: "https://nile.blob.core.windows.net/images/icons";
$publicImgPath: "https://nile.blob.core.windows.net/images/images";

// colors palette
$veryBlack: #000;
$black: #1a1a1a;
$white: #fff;
$gray100: #fff;
$gray90: #f2f2f2;
$gray80: #d9d9d9;
$gray85: #e8e8e8;
$gray70: #bfbfbf;
$gray60: #a6a6a6;
$gray50: #8c8c8c;
$gray40: #737373;
$gray30: #595959;
$gray20: #404040;
$gray10: #2e2e2e;
$gray00: #1a1a1a;

// NILE Signature Color
$nile10: #ecaafd;
$nile20: #ec98ff;
$nile30: #ec80ff;
$nile40: #a864ff;
$nile50: #9860ff;
$nile60: #875cff;

// status
$positive: #27c683;
$negative: #fa5454;
$warning: #ff810d;
$highlight: #9860ff;
$favorite: #ffd138;

// text color
$textDefault: $black;
$textSubdued: $gray30;
$textDisabled: $gray60;

// dao color system
$daoWonder: #5e5ff5, #dadafb, #f3f3fc, #1a1a1a, $white , $gray60; // 임시컬러

// graph
$increase: $positive;
$decrease: $negative;
$complement: $gray10;
$complementDark: $gray80;
$increaseBg: #eafbf4;
$decreaseBg: #fff5f5;
$complementBg: $gray90;
$increaseBgDark: #0d402a;
$decreaseBgDark: #4a0202;
$complementBgDark: $gray20;
$category1: $highlight;
$category2: #1d94f5;
$category3: #465cff;
$category4: #04c35c;
$category2Dark: #36b8ff;
$category3Dark: #5e5ff5;
$category4Dark: #62e1c3;
$etc: #eda20b;
$etcDark: #ffd056;
$total: $gray00;

// header height
$headerHeight-pc: 60px;
$headerHeight-mo: 48px;

// footer height
$footerHeight-pc: 312px;
$footerHeight-tb: 412px;
$footerHeight-mo: 380px;
