// common
@import "swiper/css";
@import "swiper/css/scrollbar";
@import "./variables";
@import "./font";
@import "./mixins";
@import "./reset";
@import "./antd";

// layout
@import "./layout/header";
@import "./layout/footer";
@import "./layout/components";
@import "./layout/modal";

// pages
@import "./pages/nile";
@import "./pages/search";
@import "./pages/dao";
@import "./pages/life";
@import "./pages/marketplace";
@import "./pages/community";
@import "./pages/tokens";
@import "./pages/papyrus";
@import "./pages/mypage";
@import "./pages/story";
@import "./pages/404";
@import "./pages/notification";
@import "./pages/policy";

// common page용
@import "./pages/commonPage";

.a11y {
  position: absolute !important;
  display: block !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  word-break: initial !important;
  word-wrap: initial !important;
}
